::-webkit-scrollbar,
.gsc-search-button-v2,
.gsib_b,
.gcsc-more-maybe-branding-root,
.gcsc-find-more-on-google-root,
.gsc-above-wrapper-area {
  display: none;
}

body,
.gsc-control-cse,
.gsc-search-button-v2 {
  background-color: #13191d !important;
}
body {
  overflow-x: hidden;
}

.home-content,
.gsc-control-cse {
  position: relative;
}

.home-content {
  top: 3em !important;
}
.gsc-control-cse,
.gsc-table-result,
fieldset .operator-box {
  display: flex;
}

.gsc-control-cse,
.home-content {
  margin: auto;
}

.gsc-control-cse,
.gssb_e,
.gs-snippet,
.gsc-result,
.gsc-input-box,
#gsc-i-id1 {
  border: none !important;
}

.gsc-control-cse,
#gcse-search-bar {
  width: 62% !important;
}

.gsc-control-cse {
  border-radius: 25px;
  overflow: hidden;
  align-items: center;
  margin-top: 1rem;
  padding: 0px !important;
}
.gsc-search-button-v2 svg {
  fill: #fff;
  width: 16px;
  height: 16px;
}
.gssb_e {
  position: relative !important;
  left: 15px !important;
}
.gsc-completion-container {
  border-radius: 15px !important;
}
.gs-snippet,
.gsc-input-box,
#gsc-i-id1,
.gsc-result {
  background-color: transparent !important;
}
.gs-snippet {
  font-weight: bolder !important;
}
.search-window {
  width: 100% !important;
}
.search-window {
  background-color: #1a242b;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  transition: all 0.5s ease-out !important;
}
.form-control {
  font-weight: 500 !important;
  color: #bdb9b9 !important;
}
.search-window {
  z-index: 10 !important;
}

fieldset .operator-box {
  flex-wrap: wrap;
}

fieldset .operator-box {
  justify-content: space-around;
  width: 100%;
}

.gsc-cursor-box {
  border-radius: 100px !important;
}
.gs-no-results-result .gs-snippet,
.gs-captcha-msg,
.gs-captcha-info-link,
.gs-spelling {
  color: white !important;
  font-weight: 100 !important;
}

.gs-no-results-result .gs-snippet {
  font-size: 26px;
}

.gs-captcha-msg,
.gs-captcha-info-link {
  font-size: 20px;
}
.gs-title,
.gs-title b {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: normal;
  color: #7ea9fe !important;
  margin-bottom: 5px;
}
.gs-image {
  border-radius: 10px !important;
}
.gsc-table-result {
  font-weight: 100 !important;
  font-size: 15px !important;
  font-weight: 300 !important;
}
.gsc-result {
  margin-top: 5px !important;
  padding: 15px 12px !important;
}
.gsc-table-result {
  flex-wrap: nowrap !important;
  flex-direction: row-reverse;
}
.gs-visibleUrl {
  color: #d4d4d4 !important;
}
.gsc-input {
  color: white;
  font-size: 18px !important;
  font-weight: 100 !important;
  padding-top: 10px;
}
.gsc-cursor,
.gsc-cursor-container-next,
.form-floating > label {
  color: #ffffff !important;
}
.form-control {
  background-color: #293140 !important;
}
.form-floating > input {
  font-weight: 400 !important;
}
.form-control > label,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: #293140 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #293140 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}
.gsc-tabsArea {
  width: 95% !important;
  margin: auto !important;
}

.gsc-cursor {
  width: auto !important;
  margin: auto !important;
}
.gsc-cursor-page {
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
}
.gsc-input-box,
#gsc-i-id1 {
  pointer-events: none;
}
#gcse-search-bar {
  padding: 0 !important;
}
#popup-button {
  border-radius: 20px;
}
#popup-button {
  width: 120px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0px;
  background-color: #1a242b;
  transition: all 0.3s ease-in-out;
  border: solid 1px rgb(154, 146, 146);
}
.introduction-text {
  transition: all 0.2s ease-in-out;
}

#button-clear:hover {
  transform: scale(1.01);
  transition: all 0.1s ease-out;
}
#search-btn:hover {
  background-color: #456bb1;
}

@media (min-width: 375px) and (max-width: 768px) {
  .search-window form {
    width: 100% !important;
  }
  .header-container {
    width: 100% !important;
  }
  fieldset .operator-box {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .introduction-text {
    width: 90% !important;
    font-size: 14px !important;
  }
  .mobile-wrap {
    flex-wrap: wrap;
  }
  .gsc-result {
    background-color: #111518 !important;
    width: 100vw;
  }
  .gsc-control-cse {
    width: 100% !important;
  }
  .home-content {
    top: 3em !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .gcse-search-bar,
  #gcse-search-bar {
    width: 100%;
    right: 0 !important;
  }
  .gsc-control-cse {
    width: 100% !important;
  }
  .gsc-control-cse,
  #gcse-search-bar {
    width: 100% !important;
  }

  #popup-header img,
  #popup-header span {
    margin: auto !important;
  }
  #popup-header img {
    margin-right: 5px !important;
  }
  #intro-style-paragraph {
    width: 100% !important;
  }
  #popup-button {
    padding: 0;
    width: 8rem;
    right: 15px;
    border-radius: 20px;
  }
  #popup-button:hover {
    width: 8.5rem;
    padding: 1px 1px;
  }
  #advertisment {
    width: 95% !important;
  }
  #start-message {
    font-size: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .search-window form {
    width: 90% !important;
  }
  .header-container {
    width: 80% !important;
  }
  .header-container p {
    font-size: 16px !important;
  }
  fieldset .operator-box {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
  }
  .introduction-text {
    width: 70% !important;
    font-size: 26px !important;
  }
  .mobile-wrap {
    flex-wrap: wrap;
  }
  .gsc-control-cse {
    height: 7 * 60px !important;
  }
  .home-content {
    top: 5em;
  }
  .gsc-control-cse,
  #gcse-search-bar {
    width: 100% !important;
  }

  #popup-header img,
  #popup-header span {
    margin: auto !important;
  }
  #popup-header img {
    margin-right: 5px !important;
  }
  #intro-style-paragraph {
    width: 100% !important;
  }
  #popup-button {
    padding: 0;
    width: 8rem;
    right: 15px;
    border-radius: 20px;
  }
  #popup-button:hover {
    width: 8.5rem;
    padding: 1px 1px;
  }
  #advertisment {
    width: 95% !important;
  }
}
